.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100% !important;
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
  .spacer {
    aspect-ratio: 960/200;
  }
}

@media screen and (min-width: 1281px) {
  .spacer {
    aspect-ratio: 960/150;
  }
}
