body {
	background: linear-gradient(-225deg, #cd6e26, #db5d15, #c83434, #c14ebd);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
