.about-me {
  margin: 86px 24px 48px;

  & &__header1 {
    font-weight: 300;
    font-size: 96px;
    line-height: 88px;
    margin-bottom: 18px;
  }

  & &__header2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  & &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  & .citation {
    margin-left: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
  .about-me {
    max-width: 700px;
    margin: 86px 5vw 40px;
  }
}

@media screen and (min-width: 1281px) {
  .about-me {
    max-width: 700px;
    margin: 140px 10vw 160px;
  }
}
