<section class="about-me" mdbScrollspyElement="scrollspy" id="about-me-section">
  <p class="about-me__header1 about-me-popin">Hello</p>
  <h1 class="about-me__header2 about-me-popin">
    My name is Sebastian and i'm a front-end developer.
  </h1>
  <p class="about-me__text about-me-popin">
    Love for art and technology has led me to this path. I always strive to grow
    and learn, bringing my very best to any team i work with.
  </p>
  <app-links class="about-me-popin"></app-links>
</section>
