<section class="portfolio">
  <h1 class="section-header">Portfolio</h1>
  <h3 class="section-header3">Chosen Projects</h3>
  <div class="portfolio-item card card-left item1">
    <div class="card-body">
      <h2>Skrauzodoro Tracker</h2>
      <img
      style="width: 100%"
        src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        voluptates voluptate cumque velit adipisci ex porro voluptatum suscipit,
        eius ullam numquam consequatur, dicta, distinctio architecto at? Cumque
        beatae quos optio, deserunt magni consequuntur, aliquam voluptas
        corporis nam ab assumenda doloremque?
      </p>
      <div class="links">
        <a href="#"
          >Source Code <i class="fa-solid fa-arrow-up-right-from-square"></i
        ></a>
      </div>
    </div>
  </div>
</section>
