<section class="portfolio" mdbScrollspyElement="scrollspy" id="portfolio-section">
  <h1 class="section-header portfolio-header-popin">Portfolio</h1>
  <h3 class="section-header3 portfolio-header-popin">Chosen Projects</h3>
  <div class="portfolio-item card card-left item1">
    <div class="card-body">
      <h2 class="portfolio-item__header">Skrauzodoro Tracker</h2>
      <img
        class="portfolio-item__screenshots"
        style="width: 100%"
        src="./../../assets/screenshots/skrauzodoro_screenshots.png"
        alt="Skrauzodoro Tracker screenshots"
      />
      <p>
        Skrauzodoro Tracker is a customizable fullstack time tracking and
        management tool built with the MEAN (MongoDB, ExpressJS, Angular,
        NodeJS) stack. The application came from my need for a straightforward
        time tracking solution, capable of analysing gathered records. App is
        capable of tracking time spent working on specific tasks and projects
        using a classic stopwatch or a
        <a
          href="https://en.wikipedia.org/wiki/Pomodoro_Technique"
          target="_blank"
          ><u>Pomodoro Technique</u></a
        >.
      </p>
      <div class="links">
        <a
          class="btn btn-outline-primary button-glass"
          href="https://github.com/Skrauz/SkrauzodoroTracker-Client"
          target="_blank"
          >Source Code <i class="fa-solid fa-arrow-up-right-from-square"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="portfolio-item card card-right item2">
    <div class="card-body">
      <h2 class="portfolio-item__header">ToDoer</h2>
      <img
        class="portfolio-item__screenshots"
        style="width: 100%"
        src="./../../assets/screenshots/todoer.png"
        alt="Skrauzodoro Tracker screenshots"
      />
      <p>
        ToDoer is a task based organizational tool built with
        ASP.NET using Model-View-Controller architecture pattern. Application
        uses CRUD operations in collaboration with a MSSQL database to track and
        manage your tasks in an efficient manner. You are able to create,
        delete, update, archive, restore, filter and search through your tasks
        with customizable deadlines, tags etc.
      </p>
      <div class="links">
        <a
          class="btn btn-outline-primary button-glass"
          href="https://github.com/Skrauz/ToDoer-ASP-dotNET-MVC-ToDos-Manager"
          target="_blank"
          >Source Code <i class="fa-solid fa-arrow-up-right-from-square"></i
        ></a>
      </div>
    </div>
  </div>
</section>
