@import './../shared/section';
@import './../../styles/variables';
@import './../shared/buttons';

.portfolio {
  margin: 24px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.portfolio-item {
  background-color: $dark;
  margin: 20px auto 36px;

  & &__header {
    margin-bottom: 16px;
  }

  & &__screenshots {
    margin-bottom: 16px;
    max-width: 700px;
    align-self: center;
  }
}

.section-header {
  margin: 0;
}

.card {
  width: 120%;

  &-left {
    padding-left: 20%;
    margin-left: -20%;
  }

  &-right {
    padding-right: 20%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
  .portfolio {
    margin: 24px 5vw;
  }
}

@media screen and (min-width: 1281px) {
  .portfolio {
    margin: 24px 10vw;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;

    &-left {
      padding-left: 0;
      margin-left: 0;
    }

    &-right {
      padding-right: 0;
    }
  }

  .item-container {
    align-self: center;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }
}
