@import './../shared/spacer';
@import './../shared/section';

.techstack {
  padding: 24px;

  & &__footer {
    text-align: center;
    margin: 10px auto auto;
  }

  & &__tech-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      &--border {
        border: solid 2px rgba(255, 255, 255, 0.5);
      }

      .fa-brands {
        font-size: 48px;
      }

      .typescript-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .typescript {
        max-width: 42px;
      }
    }
  }
}

// Tablet
@media screen and (max-width: 1280px) and (min-width: 769px) {
  .techstack {
    padding: 24px 10vw 24px;
  }
}

.spacer {
  &-start {
    background-image: url('./../../assets/svgs/layered-peaks-haikei1.svg');
  }

  &-end {
    background-image: url('./../../assets/svgs/layered-steps-haikei.svg');
  }
}
