<section class="navigation">
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
    <ul class="menu nav-pills" mdbScrollspy="scrollspy">
      <li class="nav-item"><a href="#">About me</a></li>
      <li class="nav-item"><a mdbScrollspyLink="techstack-section">Techstack</a></li>
      <li class="nav-item"><a mdbScrollspyLink="portfolio-section">Portfolio</a></li>
      <li class="nav-item"><a mdbScrollspyLink="contact-section">Contact me</a></li>
    </ul>
</section>
