<form class="form" action="https://usebasin.com/f/03e30c810112" method="post">

  <mdb-form-control>
    <input mdbInput type="text" id="name-input" name="name" class="form-control" required/>
    <label mdbLabel class="form-label" for="name-input">Name</label>
  </mdb-form-control>

  <mdb-form-control>
    <input mdbInput type="email" id="email-input" name="email" class="form-control" required/>
    <label mdbLabel class="form-label" for="email-input">Email</label>
  </mdb-form-control>

  <mdb-form-control>
    <textarea mdbInput class="form-control" name="message" id="message-input" rows="4" required></textarea>
    <label mdbLabel class="form-label" for="message-input">Message</label>
  </mdb-form-control>

  <button type="submit" class="btn btn-outline-primary button-glass">Send <i class="fa-regular fa-envelope"></i></button>
</form>
